@charset "utf-8";
/* 公共样式 */
.t1 {
    top: 1px;
}
.mt20 {
    margin-top: 20px;
}
.pointer {
    cursor: pointer;
}
.p15 {
    padding: 15px;
}
.tr {
    text-align: right;
}

/* 登录开始 */
.loginRegister {
    padding: 40px 20px;
}
.loginBox{
    width: 460px;
    margin:0 230px;
}
/* 登录标题*/
.loginRegister h3.lrTitle {
    color: #005754;
    font: 600 18px '微软雅黑','宋体';
}
.reg_tab h3 {
    padding: 10px 15px 10px 10px;
    border: 1px solid #E0E0E0;
    background: url(https://mall.lqxshop.com/theme/default/images/zc_03.jpg) 15px center no-repeat;
    padding-left: 45px;
}
.reg_tab h3.logmem {
    background: url(https://mall.lqxshop.com/theme/default/images/zc_06.jpg) 15px center no-repeat;
}
.reg_tab h3.current {
    border-bottom: none;
    background-color: #FFF;
}
/* 登录内容 */
.loginRegister ul {
    border: 1px solid #e0e0e0;
}
.login{
    height: 440px;
}
/* 登录方式 */
.loginBox .index_tab {
    margin-bottom: 20px;
    border-bottom: solid 1px #eee;
}
.loginBox .index_tab:after {
    clear: both;
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    content: '';
}
.loginBox .index_tab ul {
    border: none;
}
.loginRegister li {
    padding: 6px 0;
    position: relative;
    zoom: 1;
}
.loginBox .index_tab ul li {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    border-bottom: solid 2px #ccc;
    color: #888;
    text-align: center;
    font-size: 14px;
}
.loginBox .index_tab .seled {
    border-bottom: solid 2px #005854;
    border-radius: 5px 5px 0 0;
    color: #005854;
    font-weight: 700;
}

/* section1用户名密码 */
.loginBox #d_login .active {
    display: block;
}
.loginRegister label {
    width: 90px;
    height: 28px;
    line-height: 28px;
}
.in_b {
    display: inline-block;
}
.loginRegister .texPwd {
    width: 170px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    border: 1px solid #ddd;
    color: #000;
}
.colorBlue {
    color: #0262B3;
}
/* 输错提示信息容器 */
.loginBox .hintstyle {
    padding-left: 96px;
    color: #c00;
}
/* section2手机号手机验证码 */
.loginBox #d_login .unactive {
    display: none;
}
/* 登录按钮 */
.submit input {
    width: 111px;
    height: 29px;
    display: block;
    margin-left: 130px;
}
.loging {
    display: none;
    text-align: center;
    padding: 6px 10px;
    background-color: #eeeeee;
    color: #999999;
    font-size: 16px;
    font-family: microsoft yahei;
    margin-left: 130px;
    width: 100px;
    border-radius: 4px;
}
.vm {
    vertical-align: middle;
}











